.card__like {
  padding: 0;
  border: none;
  background: center / contain no-repeat url("../../../images/disabled.svg");
  width: 22px;
  height: 19px;
  transition: opacity .1s linear;
  cursor: pointer;
}
.card__like:hover:not(.card__like_active) {
  opacity: .5;
}
