.profile__add-btn {
  padding: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
  background: #000000 center center no-repeat url("../../../images/button_add.svg");
  width: 282px;
  height: 50px;
  font-size: 0;
  margin: 0 auto;
  transition: opacity .3s linear;
}
.profile__add-btn:hover {
  opacity: .6;
  cursor: pointer;
}
@media screen and (min-width: 508px) {
  .profile__add-btn {
    width: 150px;
    height: 40px;
  }
}
@media screen and (min-width: 694px) {
  .profile__add-btn {
    margin: 0 0 0 auto;
  }
}
@media screen and (min-width: 900px) {
  .profile__add-btn {
    width: 150px;
    height: 50px;
    border: 2px solid #ffffff;
    background-image: url("../../../images/button_add_l.svg");
  }
}
