.auth__title {
    font-size: 24px;
    font-weight: 800;
    color: #ffffff;
    text-align: center;
    margin: 0 0 10px;
    width: 260px;
}
@media screen and (min-width: 694px) {
    .auth {
        width: 358px;
        margin-bottom: 20px;
    }
}
