.popup__text-error {
  display: block;
  height: 12px;
  min-height: 24px;
  opacity: 0;
  color: #FF0000;
  margin: 6px 0 0 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  width: 238px;
}
@media screen and (min-width: 694px) {
  .popup__text-error {
    width: 358px;
  }
}
